<footer class="bg-black pb-20 mt-0 py-20">
    <div class="flex-row justify-content-around px-40 py-20">
        <div class="about w-50">
            <h1 class="text-20 mb-20">Luvanex Foundation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id fugit eligendi recusandae sint veniam, obcaecati eveniet, ea harum architecto tenetur aut odio itaque modi eos reiciendis quam nobis voluptas optio.</p>
        </div>
        <div class="contact w-50">
            <h1 class="text-20 mb-20 ml-20">Contact Us</h1>
            <ul style="width: 50%;">
                <li class="mb-5"> <i class="fas fa-question mr-10"></i> FAQ</li>
                <li class="mb-5"> <i class="fas fa-phone mr-10"></i> (144)9029392</li>
                <li> <i class="far fa-envelope mr-10"></i> reach@luvanexfoundation.org</li>
                <li class="flex-row mt-5 align-items-center justify-content-center"> <i class="fas fa-map-marker-alt mr-10 mt-5" style="word-wrap: break-word;"></i>
                    <p>238, Herbert Macualay Road, Yaba, Lagos Nigeria</p>
                </li>
            </ul>
        </div>

    </div>

    <p class="text-center">2021 Copyright © Luvanex Foundation. All Rights Reserved.</p>
</footer>