<nav>
    <img src="/images/logo.png" class="brand" alt="">
    <div class="nav-ul">
        <ul class="flex-row">
            <li><a href="/" class="nav-link active">Home</a></li>
            <li class="about"> <a href="#" class="nav-link">About Us</a>
                <ul class="dropdown">
                    <li><a href="/our-firm">About</a></li>
                    <li><a href="/our-experience">Our Experience</a></li>
                    </ul>
            </li>

            <li class="real-estate real"><a href="#" class="nav-link">Our Programs</a>
                <ul class="dropdown">
                   <li><a href="/enterpreneurs-for-christ">Enterpreneurs for Christ</a></li>
                    <li><a href="/prayer-clinic">Prayer Clinic</a></li>
                </ul>
            </li>
            <li><a href="#" class="nav-link">Media </a></li>
            <li><a href="/contact-us" class="nav-link">Contact Us</a></li>
        </ul>
    </div>

</nav>